body {
  background: rgba(109, 170, 248, 0.5);
}

.navbar {
  user-select: none;
  background: rgb(109, 170, 248);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .item {
    color: white;
    .title {
      font-size: 2rem;
      font-weight: bold;
      font-family: Pacifico;
      letter-spacing: 1.5px;
      word-spacing: 5px;
      &::first-letter {
        font-size: 2.8rem;
      }
      background: linear-gradient(
        to right,
        rgba(0, 0, 255, 0.8),
        rgba(13, 13, 216, 0.5)
      );
      background-clip: text;
      color: transparent;
    }
    .desc {
      line-height: 1px;
      text-indent: 0px;
      font-style: normal;
      text-transform: capitalize;
      padding-bottom: 10px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
    }
  }
  .developer {
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
  }
  button {
    background: rgb(245, 80, 74);
    padding: 5px 30px;
    color: white;
    border: 1px solid rgb(251, 192, 192);
    cursor: pointer;
  }
}

.searchBox {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 500px;
    border-width: 0;
    border-bottom-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.5);
    background: transparent;
    font-size: 2rem;
    text-align: center;
    &:focus {
      outline: 0px solid white;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
      user-select: none;
    }
  }
  button {
    margin: 20px;
    background: rgb(245, 80, 74);
    padding: 10px 35px;
    color: white;
    border: 1px solid rgb(251, 192, 192);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background: rgb(253, 43, 35);
    }
  }
  .error {
    background: rgba(245, 80, 74, 0.9);
    padding: 8px 30px;
    color: white;
    font-size: 0.8rem;
    display: none;
    .title {
      font-size: 1rem;
      font-weight: bold;
      text-decoration: underline;
    }
    .desc {
      letter-spacing: 0.5px;
    }
  }
  .isLoading {
    font-style: italic;
    color: rgba(0, 0, 0, 0.8);
    span {
      animation: loading infinite linear 1s;
      @keyframes loading {
        0% {
          color: #000;
        }
        50% {
          color: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.recipeSearched {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
  justify-content: center;

  .ingredient_toolTip {
    max-height: 400px;
    overflow: auto;
  }

  .eachRecipe {
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(32, 32, 32);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    &:hover {
      transition: 0.5s;
      background: rgba(255, 255, 255, 0.8);
    }
    &:hover > .img img {
      transition: 0.5s;
      transform: scale(1.1);
    }
    &:hover > div .title {
      transition: 0.5s;
      transform: translateX(5px);
    }
    cursor: pointer;
    .img {
      width: 100%;
      overflow: hidden;
      img {
        height: 300px;
        width: 100%;
        object-fit: fill;
      }
    }
    div {
      .title {
        padding: 20px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}
.searchedText {
  margin: 10px 20px;
  .title {
    font-family: Ubuntu;
    font-size: large;
    font-weight: bold;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 0.8);
  }
}

// each Recipe  /recipe/:recipeName
.eachRecipePage {margin:30px;
  .imageAndInfo {
    display: flex;
    justify-content: center;
    .imageAndLabel {
      width: 310px;
      padding: 20px;
      .img {
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          border: 5px solid rgba(0, 0, 0, 0.5);
          border-radius: 10px;
        }
      }
      .label {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        margin: 10px;
        text-transform: capitalize;
      }
      .status {
        display: none;
        justify-content: space-around;
        margin: 10px 0;
        div {
          margin: 2.5px;
          flex: 1;
        }
        .title {
          font-weight: bold;
        }
        .pos {
          padding: 5px;
          .healthLabels {
          }
        }
        .neg {
          padding: 5px;
        }
      }
    }
    .info {
      margin: 20px;
      margin-left: 50px;
      .title {
        font-size: 2rem;
        text-decoration: underline;
      }
      .ingredientLines {
        text-transform: capitalize;
      }
    }
  }
  .IL {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 2rem;
      font-weight: bold;
      text-decoration: underline;
    }
    .desc {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 30px;
      grid-gap: 10px;

      .eachIngredientsList {
        display: flex;
        &:hover {
          transition: 1s;
          background: rgba(109, 170, 248, 0.6);
          cursor: pointer;
        }
        .ingredient {
          display: flex;
          align-items: center;
        }
        img {
          width: 100px;
          height: 100px;
        }
        .titleAndWeight {
          margin: 0 20px;
          .text {
            text-transform: capitalize;
          }
          .weight {
            &::before {
              content: "Weight : ";
              font-weight: 700;
              font-size: 0.8rem;
              color: rgba(0, 0, 0, 0.7);
            }
            &::after {
              content: "gm";
              font-weight: 600;
              font-size: 0.8rem;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
    }
  }
}

// responsive
@media only screen and (max-width: 1200px) {
  .recipeSearched {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 992px) {
  .searchBox {
    input {
      width: 300px;
    }
  }
  .recipeSearched {
    grid-template-columns: repeat(2, 1fr);
  }
  .eachRecipePage {
    .imageAndInfo {
      flex-direction: column;
      align-items: center;
      .info {
        align-self: flex-start;
      }
    }
    .IL {
      .desc {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .searchBox {
    input {
      width: 350px;
    }
  }
  .recipeSearched {
    grid-template-columns: repeat(1, 1fr);
  }
  .eachRecipePage {
    .IL {
      .desc {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.NotFound {
  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .msg {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 600;
    font-family: ubuntu;
    color: rgba(0, 0, 0, 0.8);
  }
  .button {
    background: rgba(245, 80, 74, 0.8);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    &:hover {
      background: rgba(245, 80, 74, 1);
    }
  }
}

.totalNutrients {
  text-align: center;
  margin: 100px 0px;
  .title {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
  }
  .ListtotalNutrients {
    margin: 10px 100px;
    display: flex;
    justify-content: center;

    table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    table,
    th,
    td {
      border: 1px solid rgba(0, 0, 0, 0.5);
      padding: 8px;
      text-align: center;
    }
    tr:nth-child(even) {
      background-color: #6c63f03a;
    }
    tr:hover {
      background-color: rgba(55, 52, 236, 0.384);
      cursor: pointer;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: rgba(13, 13, 216, 0.5);
      color: white;
    }
  }
  // .ListtotalNutrients {
  //   display: grid;
  //   grid-template-columns: repeat(5,1fr);
  //   .EachtotalNutrients {
  //     margin: 20px;
  //     .QAndUnit {
  //       display: flex;
  //     }
  //   }
  // }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
